.card-div {
    text-align: center;
    align-content: center;
    width: 50%;
    margin: auto;
}

.card-container {
    text-align: center;
    align-content: center;
    margin-right: 25px;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}